* { 
    margin: 0;
    padding: 0;
  }

#left {
  width: 50%;
  height: 100vh;
  background: url(../images/the-last-of-us-part-2.jpeg)no-repeat;
  background-size: cover;
  background-position: center;
}